name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  packages:
    timeout-minutes: 5
    name: Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        id: cache
        with:
          path: ./node_modules
          key: node_modules-${{ hashFiles('**/package-lock.json') }}
      - name: npm ci
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
  build:
    timeout-minutes: 5
    name: Build
    runs-on: ubuntu-latest
    needs: [packages]
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        id: cache
        with:
          path: ./node_modules
          key: node_modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            node_modules-
      - name: npm ci
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: run build
        run: npm run build
        env:
          NODE_ENV: production
  lint:
    timeout-minutes: 5
    name: Lint
    runs-on: ubuntu-latest
    needs: [packages]
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        id: cache
        with:
          path: ./node_modules
          key: node_modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            node_modules-
      - name: npm ci
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: run lint
        run: npm run lint -- --no-fix
  typeCheck:
    timeout-minutes: 5
    name: Type Check
    runs-on: ubuntu-latest
    needs: [packages]
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        id: cache
        with:
          path: ./node_modules
          key: node_modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            node_modules-
      - name: npm ci
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: run type-check
        run: npm run type-check
